* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    padding: 0 7%;
    background: url("images/background.png") center center/cover no-repeat;
    position: relative;
}
header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
img.cart {
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 2s;
}
.img.cart:hover {
    transform: scale(1.2);
}
nav {
    flex: 1;
    padding-left: 60px;  
}
nav ul li {
    display: inline-block;
    margin: 0 50px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    transition: 0.5s;
}
nav ul li a:hover {
    color: #ff7aeb;
}
.content h1 {
    font-size: 50px;
    font-weight: 100;
    margin-top: 70px;
    margin-bottom: 17px;
    color: #263377;
    transition: 0.5s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content h1:hover {
    transform: scale(1.05); 
    color: #ff7aeb;
    cursor: pointer;
    letter-spacing: 2px;
}
.content p {
    font-size: 15px;
    color: #6a776a;
    transition: 0.5s;
    font-style: italic;
    margin-left: 50px;
}
.content p:hover {
    transform: scale(1.02);
    letter-spacing: 0.25px;
    cursor: pointer;
    color: #fc86d1;
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 15px 30px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fef0f0;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
    transition: 0.5s;
    font-size: 20px;
    margin-left: 7%;
}
.content .btn:hover {
    transform: scale(1.2);
    background: linear-gradient(50deg, #a3c0fe, #fb93d5);
    padding: 18px 35px;
    color: #fff;
}
.arrow-icons {
    display: flex;
    margin-top: 80px;
    margin-left: 130px;
}
.arrow-icons img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.arrow-icons img:hover{
    transform: scale(1.2);  
}
img.girl {
    position: absolute;
    height: 90%;
    bottom: 0px;
    right: 120px;
    transition: 0.5s;
}
img.girl:hover {
    transform: scale(1.1);
}
.social_links {
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}
.social_links a {
    text-decoration: none;
    color: #6a7199;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 200;
}
.social_links a:hover{
    color: #506bfe;
}