* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    padding: 0 7%;
    background: url("images/background.png") center center/cover no-repeat;
}